.button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  text-align: left;
  border-radius: 17px;
  font-weight: 500;
}

.button.bordered {
  border: 1px solid #000;
}

.button.no-background {
  background-color: transparent;
}
