.mainContainer {
  margin: 0px 118px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  gap: 24px;
}

@media (max-width: 1024px) {
  .cards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    margin: 0px 60px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    margin: 0px 20px;
  }
}
